In [ ]:
# Iporting libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [ ]:
# Importing Dataset

df = pd.read_csv("C:/Users/sanju/Downloads/train.csv")
pd.DataFrame(df)

In [ ]:
# Understanding data
df.info()

In [ ]:
'''
Observations:
map range variables into integers 'Age' column
convert gender categorical data into integer using map function
convert City_category categorical data into integer using map function
stay_In_Current_City_Years column is in object data type it should either be int or float
'''

In [ ]:
# Checking for basic statistic dataset
df.describe()

In [ ]:
'''
Conclusions :
1. In the purchase column, mean is greater than median implying that data is right skewed outliers is right tailed.
2. In the product category 1 column, mean is slightly greater than median the distribution is right tailed.
3. In product category 2 column, mean is slightly greater than median the distribution is right tailed.
4. In product category 3 column,mean is significantly less than median implying that data is left skewed outliers in left tailed.
'''

In [ ]:
# Checking if any NULL values
df.isnull().sum().any()

In [ ]:
# True means there are NULL values in data
# False means there are no NULL values in data

In [ ]:
# Checking for duplicated values
df.duplicated().sum()

In [ ]:
# 0 means no duplicate values in data
# if there are any duplicate values in data then drop them, df.drop_duplicates()

In [ ]:
# Getting to know column wise NULL values
df.isnull().sum()

In [ ]:
# Missing values in Product_Category_2 and Product_Category_3

In [ ]:
# Imputing the data for Product_category_2 and prodcut_Categor_3 with median() has less outliers compared to mean()
df['Product_Category_2'].fillna(df['Product_Category_2'].median(), inplace=True)
df['Product_Category_3'].fillna(df['Product_Category_3'].median(), inplace=True)

In [ ]:
# checking to know column wise NULL values
df.isnull().sum()

In [ ]:
#convert gender categorical data into integer using map function
df['Gender'] = df['Gender'].map({'M':1 ,'F': 0})

In [ ]:
df['Age'].value_counts()

In [ ]:
# map range variables into integers 'Age' column

# Mapping Age Ranges to Integers
age_mapping = {
    '0-17': 0,
    '18-25': 1,
    '26-35': 2,
    '36-45': 3,
    '46-50': 4,
    '51-55': 5,
    '55+': 6
}
df['Age'] = df['Age'].map(age_mapping)
print(df['Age'].value_counts())

In [ ]:
df['Stay_In_Current_City_Years'].value_counts()

In [ ]:
# Replacing 4+ in 'Stay_In_Current_City_Years' as 4 
df['Stay_In_Current_City_Years'] = df['Stay_In_Current_City_Years'].replace({'4+':4}).astype('int64')
print(df['Stay_In_Current_City_Years'])

In [ ]:
df.info()

In [ ]:
'''
Product_category_2 and product_category_3 are in type float change type ot Int
'''

In [ ]:
df['Product_Category_2'] = df['Product_Category_2'].astype('int64')
df['Product_Category_3'] = df['Product_Category_3'].astype('int64')

In [ ]:
# Counting the occurrences of each unique value in the 'City_Category' column
df['City_Category'].value_counts()

In [ ]:
# How many ProductID are there in dataset
df['Product_ID'].count()

In [ ]:
# Average purchase by product categories
df.groupby(['Product_Category_1','Product_Category_2','Product_Category_3'])['Purchase'].mean().reset_index()

In [ ]:
#Getting the number of Unique values
df[['Product_ID','Product_Category_1','Product_Category_2','Product_Category_3']].nunique()

In [ ]:
df.head(5)

In [ ]:
# countplot for 'Gender'
plt.figure(figsize=(5,3))
sns.countplot(x = 'Gender', data= df, palette = 'Set2') # 0 - feamle, 1- Male

In [ ]:
# Countplot for 'Marital status'
plt.figure(figsize=(5,3))
sns.countplot(x = 'Marital_Status', data= df, palette = 'muted')

In [ ]:
# Countplot for 'Occupaption'
plt.figure(figsize=(5,3))
sns.countplot(x = 'Occupation', data= df, palette = 'Set1')

In [ ]:
# Scatter plot for occupation vs purchase
plt.figure(figsize = (5,4))
sns.barplot(x = 'Occupation', y= 'Purchase', data= df)
plt.title('occupation vs purchase')
plt.xlabel('Occupation')
plt.ylabel('Purchase')
plt.show()

In [ ]:
# Pie chart for purchase by city category
# Grouping by 'City_Category' and calculating the total purchase amount for each category
purchase_by_city = df.groupby('City_Category')['Purchase'].sum()

plt.figure(figsize = (5,5))
plt.pie(purchase_by_city,labels=purchase_by_city.index, autopct= '%2f%%', startangle=120)
plt.title('Purchase Distribution by City Category')
plt.legend()
plt.show()

In [ ]:
'''
Conclusion from pie chart for purchase ditribution by city category:
Total Purchases from city category are high compared to other city categories A and C
'''

In [ ]:
# purchase by age group
sns.boxplot(x = 'Age',y ='Purchase', data = df)
plt.title('Purchase by Age group')

In [ ]:
# Density plot for purchase
plt.figure(figsize = (5,3))
sns.kdeplot(df['Purchase'], fill= True)
plt.title('Density plot for Purchases')
plt.xlabel('Purchased')
plt.ylabel('Density')
plt.show()

In [ ]:
# There are few outliers in right side

In [ ]:
# Histogram to check distribution
plt.figure(figsize = (5,3))
sns.histplot(df['Purchase'], kde= True , bins = 30) # kde is true means we get histogram with curve.
plt.title('Histogram of purchase')
plt.xlabel('purchase')
plt.ylabel('Frequency')
plt.show()

In [ ]:
# In the purchase column, mean is greater than median implying that data is right skewed outliers is right tailed.

In [ ]:
# Product_category_1 vs Purchased
plt.figure(figsize = (21,5))
sns.boxplot(x = 'Product_Category_1', y = 'Purchase', data = df , palette = 'Set1')
plt.title('Box plot of Product_category_1 vs Purchased')
plt.xlabel('Product_category_1')
plt.ylabel('Purchased')
plt.show()

In [ ]:
'''
Conclusions -> 
(1) From category 6-10 onwards, purchases started to increase.
(2) From category 14- 17, the purchase was in a moderate range.
(3) From 18-20 onwards, there has been a linear decrease in purchases.
(4) Till category 14 - 20, the data was either not having any outliers or if outliers are there, they were in small proportion.
(5) From category 9-10 onwards, there has been a slight increase in outliers (especially in right tail).
'''

In [ ]:
# Product_category_2 vs Purchased
plt.figure(figsize = (21,5))
sns.boxplot(x = 'Product_Category_2', y = 'Purchase', data = df , palette = 'Set2')
plt.title('Box plot of Product_category_2 vs Purchased')
plt.xlabel('Product_category_2')
plt.ylabel('Purchased')
plt.show()

In [ ]:
'''
Conclusions - 
(1) Purchase was in a moderate range from category 2 to 8.
(2) From category 9 onwards, there has been an increment in outliers (especially in righ tail).
'''

In [ ]:
# Product_category_1 vs Purchased
plt.figure(figsize = (21,5))
sns.boxplot(x = 'Product_Category_3', y = 'Purchase', data = df , palette = 'Set2')
plt.title('Box plot of Product_category_3 vs Purchased')
plt.xlabel('Product_category_3')
plt.ylabel('Purchased')
plt.show()

In [ ]:
'''
Conclusions - 
(1) Purchase was in a moderate range for all category.
(2)In category 14 , there are more outliers (especially in righ tail).
'''

In [ ]:
# KDE Plot (Purchase Trends by Gender)
plt.figure(figsize=(6,5))
sns.kdeplot(data=df, x='Purchase', hue='Gender', fill=True)
plt.xlabel('Purchase Amount')
plt.ylabel('Density')
plt.title('Purchase Distribution by Gender')
plt.show()

In [ ]:
'''
Conclusion from KDE plot for Purchase Distribution by Gender :
Male gender has peak at a higher purchase amount, males tend to spend more.
'''

In [ ]:
# Bar plot purchase comparison by Marital status
plt.figure(figsize=(6,5))
sns.barplot(x='Marital_Status', y='Purchase', data=df, estimator=sum, ci=None, palette='coolwarm')
plt.xlabel('Marital Status')
plt.ylabel('Total Purchase')
plt.title('Total Purchase by Marital Status')
plt.show()

In [ ]:
'''
Conclusion from Bar plot purchase comparison by Marital status:
Unmarried or single individuals tend to spend more than married couples, suggesting they may have higher income or different spending priorities.
'''